<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.5.rc1.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>

    
    </head>

    <body>
        <div style="display: none;">
            <div id="list-item-branch">
                <div>
                    <b>#git_branch#</b>
                    <br/>
                    #note#
                    <br/><b>Author:</b>#initiator#
                    

                </div>
            </div>
        </div>

        <script>
        var dumps_promise = webix.ajax().get("/cicd/possible_dumps");
        dumps_promise.then(function(dumps) {
            var branches = webix.ajax().get("/cicd/data/branches");
            var dumps = dumps.json();

            webix.ui({
                type: 'wide',
                cols: [
                    {
                        rows: [
                            {
                                view: "template",
                                type: "header",
                                template: "CICD Feature Branches"
                            },
                            {
                                view: "list",
                                type: {
                                    height: 100,
                                },
                                template: "html->list-item-branch",
                                data: branches,
                                select: true,
                            }
                        ]
                    },
                    {
                        id: 'table-branches',
                        view: "datatable",
                        select: true,
                        autoConfig: true,
                        editable: true,
                        data: branches,
                        autowidth: true,
                        autoheight: true,
                        on: {
                            onAfterEditStop: function(state, editor, ignoreUpdate) {
                                var data = {};
                                data['_id'] = $$("table-branches").getSelectedItem()._id;
                                data[editor.column] = state.value;
                                webix.ajax().post('/cicd/update/branch', data);
                            },
                        },
                        columns:[
                            { id: 'git_branch', header: 'Git Branch', width: 100},
                            { id: 'ignore_updates', header: 'Ignore Updates', width: 100, editor: 'checkbox', template: "{common.checkbox()}"},
                            { id: 'limit_instances', header: 'Limit Instances', width: 100, editor: 'text'},
                            { id: 'note', header: 'Note', width: 300, editor: 'text'},
                            { id: 'desc', header: 'Description', width: 300, fillspace: true},
                            { id: 'author', header: 'Author', width: 100},
                            { id: 'dump', header: 'Dump', width: 200, editor: 'combo', collection: dumps},
                        ],
                    },
                ]
            });

        });
    </script>
    </body>
</html>
