<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.5.rc1.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.5.rc1.min.js"></script>
    
    </head>
    {% if message %}
    <h2 style='color: red;'>{{message}}</h2>
    {% endif %}

    <body>
        <div id="grid" style="width: 100%; height: 250px;">
        </div>
    </body>

    <script>
        $(document).ready(function() {

            $(function () {
                $('#grid').w2grid({
                    name: 'grid',
                    header: 'Feature Branches',
                    url: 'cicd/data/instances',
                    columns: [
                        { field: 'name', caption: 'Name', size: '10%'},
                        { field: 'git_branch', caption: 'Git Branch', size: '10%'},
                        { field: 'desc', caption: 'Description', size: '30%'},
                        { field: 'author', caption: 'Author', size: '10%' },
                        { field: 'date_registered', caption: 'Started', size: '10%' },
                        { field: 'updated', caption: 'Updated', size: '10%' },
                        { field: 'last_access', caption: 'Last Access', size: '10%' },
                    ],
                    onClick: function(ev) {
                        window.location = "/cicd/start?name=" + ev.recid;
                    },
                });
            });


        })
</script>


</html>
