CICD_NETWORK_NAME=cicd_net
CICD_BINDING=10.10.173.111:9999
CICD_URL=http://127.0.0.1:9999
JENKINS_URL=http://127.0.0.1:8080
JENKINS_USER=admin
JENKINS_PASSWORD=
JIRA_URL=
JIRA_USER=
JIRA_PASSWORD=
DUMPS_PATH=/opt/dumps
DB_HOST=not 127.0.0.1
DB_USER=cicd
DB_PASSWORD=cicd_is_cool
DB_PORT=5432
