<odoo>
	<data noupdate='0'>
		<menuitem name="CICD" parent="" id="root_menu" sequence="-1000"/>
		<menuitem name="Configuration" parent="root_menu" id="config_menu" sequence="9999"/>

		<!-- Put DB Queries into configuration -->
		<record model="ir.ui.menu" id="odoo_visualize_queries" parent="config_menu"/>


		<record model="ir.ui.menu" id="queue_job.menu_queue_job">
			<field name="parent_id" ref="root_menu"/>
			<field name="sequence">1000</field>
		</record>
		<record model="ir.ui.menu" id="base.menu_ir_cron_act">
			<field name="parent_id" ref="config_menu"/>
		</record>
		<!-- icon="cicd,static/img/logo.png"/> -->
		<record id='branches_action' model='ir.actions.act_window'>
			<field name='name'>Branches</field>
			<field name='res_model'>cicd.git.branch</field>
			<field name='view_mode'>kanban,tree,form</field>
			<field name="context">{
				'search_default_no_release_branches': 1,
			}</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="root_menu" id="menu_branches" action="branches_action"/>
		<record id='configuration_action' model='ir.actions.act_window'>
			<field name='name'>Repositories</field>
			<field name='res_model'>cicd.git.repo</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="config_menu" id="menu_repos" action="configuration_action"/>
		<record id='machines_action' model='ir.actions.act_window'>
			<field name='name'>Machines</field>
			<field name='res_model'>cicd.machine</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="config_menu" id="menu_machines" action="machines_action"/>

		<record id='registry_server_action' model='ir.actions.act_window'>
			<field name='name'>Registries</field>
			<field name='res_model'>cicd.registry</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="config_menu" id="menu_registry_server" action="registry_server_action"/>

		<record id="open_logsio" model="ir.actions.act_url">
			<field name="name">Logsio</field>
			<field name="target">new</field>
			<field name="url">/cicdlogs</field>
		</record>
		<menuitem parent="root_menu" id="menu_logsio" action="open_logsio"/>

		<record id='testruns_action' model='ir.actions.act_window'>
			<field name='name'>Test Runs</field>
			<field name='res_model'>cicd.test.run</field>
			<field name='view_mode'>kanban,tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="root_menu" id="menu_testruns" action="testruns_action"/>

		<record id='releases_action' model='ir.actions.act_window'>
			<field name='name'>Releases</field>
			<field name='res_model'>cicd.release</field>
			<field name='view_mode'>tree,form</field>
			<field name="context">{'active_test': False}</field>
		</record>
		<menuitem parent="root_menu" id="menu_releases" action="releases_action"/>

		<record id='postgresserver_action' model='ir.actions.act_window'>
			<field name='name'>Postgres Server</field>
			<field name='res_model'>cicd.postgres</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="config_menu" id="menu_postgresserver" action="postgresserver_action"/>

		<record id='dumps_action' model='ir.actions.act_window'>
			<field name='name'>Dumps</field>
			<field name='res_model'>cicd.dump</field>
			<field name='view_mode'>tree</field>
		</record>
		<menuitem parent="root_menu" id="menu_dumps" action="dumps_action" groups="cicd.group_download_dumps"/>

		<record id='compressor_action' model='ir.actions.act_window'>
			<field name='name'>Compressor</field>
			<field name='res_model'>cicd.compressor</field>
			<field name='view_mode'>tree</field>
			<field name="context">{'active_test': False}</field>
		</record>
		<menuitem parent="root_menu" id="menu_compressor" action="compressor_action"/>

		<record id='ticketsystems_action' model='ir.actions.act_window'>
			<field name='name'>Ticket-Systems</field>
			<field name='res_model'>cicd.ticketsystem</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="config_menu" id="menu_ticketsystems" action="ticketsystems_action"/>
	</data>
</odoo>