<odoo>
	<data noupdate='0'>
		<menuitem name="CICD" parent="" id="root_menu" />
		<menuitem name="Configuration" parent="root_menu" id="config_menu" />
		<!-- icon="cicd,static/img/logo.png"/> -->
		<record id='branches_action' model='ir.actions.act_window'>
			<field name='name'>Branches</field>
			<field name='res_model'>cicd.git.branch</field>
			<field name='view_mode'>kanban,tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="root_menu" id="menu_branches" action="branches_action"/>
		<record id='configuration_action' model='ir.actions.act_window'>
			<field name='name'>Repositories</field>
			<field name='res_model'>cicd.git.repo</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="config_menu" id="menu_repos" action="configuration_action"/>
		<record id='machines_action' model='ir.actions.act_window'>
			<field name='name'>Machines</field>
			<field name='res_model'>cicd.machine</field>
			<field name='view_mode'>tree,form</field>
			<field name="help"><![CDATA[<p> No  found!  </p>]]></field>
		</record>
		<menuitem parent="config_menu" id="menu_machines" action="machines_action"/>
	</data>
</odoo>