<odoo>
	<data noupdate='0'>
	<record id='queries_action' model='ir.actions.act_window'>
		<field name='name'>Active Queries</field>
		<field name='res_model'>db.query</field>
		<field name='view_mode'>tree</field>
	</record>
	<menuitem id="visualize_queries.menu_queries" action="queries_action"/>
	</data>

</odoo>
