<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="https://w2ui.com/src/w2ui-1.5.rc1.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>
        <script src="/cicd/static/app.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <style>
span.webix_icon {
    cursor: pointer;
}
        table.data tr th {text-align: left;}
    </style>

    <body>
        <div style="display: none;">
            <div id="instance-template">
                <div>
                    <table class='data'>
                        <tr>
                            <th style="min-width: 200px;">Name</th>
                            <td>#name#</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>#title#</td>
                        </tr>
                        <tr>
                            <th>Git SHA</th>
                            <td>#git_sha#</td>
                        </tr>
                        <tr>
                            <th>Last Updated</th>
                            <td>#updated#</td>
                        </tr>
                        <tr>
                            <th>Date registered</th>
                            <td>#date_registered#</td>
                        </tr>
                        <tr>
                            <th>Based on</th>
                            <td>#dump_name# - #dump_date#</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <p><b>Note</b></p>
                    <div>#note#</div>
                </div>
                <div>
                    <p><b>Last Commit</b></p>
                    <div>#last_git_author#: #last_git_desc#</div>
                </div>
            </div>
        </div>

        <script>
            function show_logs(name) {
                window.open("/cicd/show_logs?name=" + name);
            }

            function debug(name) {
            }

            function show_mails(name) {
            }

            function start_instance(name) {
                window.open("/cicd/start?name=" + name);
            }

            function restart() {
                var name = $$('table-sites').getSelectedItem().name;
                webix.message('Restarting ' + name + '. Reporting immediately when done.');
                webix.ajax().get("/cicd/restart_docker?name=" + name).then(function(res) {
                    webix.message("Restarted: " + res.json().containers.join(','), "info");
                });
            }
            function rebuild() {
                var name = $$("table-sites").getSelectedItem().name;
                show_reset_form(name);
            }

            function settings(){
                webix.ajax().get('/cicd/data/sites', {'name': current_details}).then(function(data) {
                    data = data.json();
                    var dumps_promise = webix.ajax().get("/cicd/possible_dumps");
                    dumps_promise.then(function(dumps) {
                        var dumps = dumps.json();
                        var form = webix.ui({
                            view: "window", 
                            position: 'center',
                            modal: true,
                            head: "Settings",
                            width: 550,
                            body: {
                                view: 'form',
                                complexData: true,
                                elements: [
                                    {view: 'text', name: 'title', label: "Title" },
                                    { view:"textarea", name: 'note', label:"Note" },
                                    // { view:"text", name: 'limit_instanes', label:"Limit Instances" },
                                    { view:"combo", name: 'dump', label:"Dump", options: dumps, },
                                    {
                                        cols:[
                                            { view:"button", value:"OK", css:"webix_primary", click: function() { 
                                                var values = this.getParentView().getFormView().getValues();
                                                webix.ajax().post('/cicd/update/site', values).then(function() {
                                                    form.hide();
                                                    reload_table()
                                                });
                                                }
                                            },
                                            { view:"button", value:"Cancel", click: function() {
                                                form.hide();
                                            }}
                                        ]
                                    }
                                ],
                                on: {
                                    'onSubmit': function() {
                                    },
                                }
                            }
                        });
                        form.getChildViews()[1].setValues(data[0]);
                        form.show();
                    });
                });
                return false;
            }

        var current_details = null;
        function reload_details(name) {
            webix.ajax().get('/cicd/data/sites?name=' + name).then(function(data) {
                var template = $$('webix-instance-details');
                template.data = data.json()[0];
                template.refresh();
                template.show();
                $$('site-toolbar').show();
                current_details = name;
            });
        }
        function reload_table() {
            var table = $$("table-sites");
            table.clearAll()
            table.load(table.config.url);
        }
        function show_reset_form(name) {
            var form_reset = webix.ui({
                view: "window", 
                position: 'center',
                modal: true,
                head: "Reset Instance",
                width: 550,
                body: {
                    view: 'form',
                    complexData: true,
                    elements: [
                        // { view:"combo", name: 'dump', label:"Dump", options: dumps },
                        { view: 'template', template: "Jenkins is triggered to rebuild the instance. Will take some time, until instance is up again."},
                        {
                            cols:[
                                { view:"button", value:"OK", css:"webix_primary", click: function() { 
                                        var values = this.getParentView().getFormView().getValues();
                                        webix.ajax().get('/cicd/trigger/rebuild', {
                                            'name': name,
                                        }).then(function(data) {
                                            form_reset.hide();
                                        })
                                        }
                                },
                                { view:"button", value:"Cancel", click: function() {
                                    form_reset.hide();
                                }}
                            ]
                        }
                    ],
                    on: {
                        'onSubmit': function() {
                        },
                    }
                }
            });
            form_reset.show();
        }
           

        webix.ui({
            type: 'wide',
            cols: [
                {
                    rows: [
                        {
                            view: "template",
                            type: "header",
                            css: "webix_dark",
                            template: "CICD Feature Branches"
                        },
                        {
                            id: 'table-sites',
                            view: "datatable",
                            navigation: true,
                            headerRowHeight: 60,
                            rowHeight: 40,
                            select: 'row',
                            autoConfig: true,
                            url: '/cicd/data/sites',
                            editable: false,
                            data: [],
                            leftSplit: 0,
                            scrollX: false,
                            on: {
                                onAfterEditStop: function(state, editor, ignoreUpdate) {
                                    var data = {};
                                    data['_id'] = $$("table-branches").getSelectedItem()._id;
                                    data[editor.column] = state.value;
                                    webix.ajax().post('/cicd/update/site', data);
                                },
                                onSelectChange:function(){
                                    if (!this.getSelectedItem()) {
                                        return;
                                    }
                                    reload_details(this.getSelectedItem().name);
                                },
                                onItemClick: function(id, e, trg) {
                                    //if (id.column === 'start_instance') {
                                    //    var name = this.getSelectedItem().name;
                                    //    start_instance(name);
                                    //}
                                }
                            },
                            columns:[
                                { id: 'name', header: 'Name', minWidth: 120},
                                { id: 'title', header: 'Title', minWidth: 180},
                                { id: 'update_in_progress', header: 'Building', template: "{common.checkbox()}"},
                                { id: 'updated', header: 'Updated', minWidth: 150,},
                                { id: 'duration', header: 'Duration [s]'},
                            ],
                        },
                    ]
                },
                {
                rows: [
                    {
                        view: 'toolbar',
                        css: "webix_dark",
                        id: 'site-toolbar',
                        hidden: true,
                        cols: [
                            { view:"button", id:"settings", value:"Settings", width:100, align:"left", click: settings },
                            { view:"button", id:"restart", value:"Restart", width:100, align:"left", click: restart, },
                            { view:"button", id:"rebuild", value:"Rebuild", width:100, align:"left", click: rebuild, },
                            { view:"button", id:"start", value:"Open UI", width:100, align:"right", click: function() { 
                                var name = $$("table-sites").getSelectedItem().name;
                                start_instance(name);
                            }, },
                            { view:"button", id:"start_mails", value:"Mails", width:100, align:"right", click: function() { 
                                var name = $$("table-sites").getSelectedItem().name;
                                show_mails(name);
                            }, },
                            { view:"button", id:"start_logging", value:"Server Log", width:100, align:"right", click: function() { 
                                var name = $$("table-sites").getSelectedItem().name;
                                show_logs(name);
                            }, },
                            { view:"button", id:"start_debugging", value:"Debug", width:100, align:"right", click: function() { 
                                var name = $$("table-sites").getSelectedItem().name;
                                debug(name);
                            }, },
                        ],
                    },
                    {
                        id: "webix-instance-details",
                        maxWidth: 650,
                        css: "webix_dark",
                        view: "template",
                        type: "body",
                        template: "html->instance-template",
                        hidden: true,
                    },
                ],
                }
            ]
        });

        webix.ui.fullScreen();
    </script>
    </body>
</html>
