<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="https://w2ui.com/src/w2ui-1.5.rc1.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>
        <script src="/cicd/static/app.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <style>
span.webix_icon {
    cursor: pointer;
}
        table.data tr th {text-align: left;}
    </style>

    <body>
        <div style="display: none;">
            <div id="instance-template">
                <div>
                    <table class='data'>
                        <tr>
                            <th style="min-width: 200px;">Name</th>
                            <td>#name#</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>#title#</td>
                        </tr>
                        <tr>
                            <th>Git SHA</th>
                            <td>#git_sha#</td>
                        </tr>
                        <tr>
                            <th>Last Updated</th>
                            <td>#updated#</td>
                        </tr>
                        <tr>
                            <th>Date registered</th>
                            <td>#date_registered#</td>
                        </tr>
                        <tr>
                            <th>Based on</th>
                            <td>#dump_name# - #dump_date#</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <p><b>Note</b></p>
                    <div>#note#</div>
                </div>
                <div>
                    <p><b>Last Commit</b></p>
                    <div>#last_git_author#: #last_git_desc#</div>
                </div>
            </div>
        </div>

        <script>
            var update_from_jenkins = null;

            update_from_jenkins = function() {

                webix.ajax().get('/cicd/data/site/live_values').then(function(res) {
                    var data = res.json();
                    var $table = $$("table-sites")
                    for (i = 0; i < data.length; i++) {
                        var record = data[i];
                        var item = $table.getItem(record._id);
                        for (var key in record) {
                            if (record.hasOwnProperty(key)) {
                                item[key] = record[key];
                            }
                        }
                        $table.updateItem(item.id, item);
                    }
                    setTimeout(update_from_jenkins, 1000);
                });


            }

            // start live values
            setTimeout(update_from_jenkins, 0);

            function backup_db() {
                var form_backupdb = webix.ui({
                    view: "window", 
                    position: 'center',
                    modal: true,
                    head: "Backup Database",
                    width: 550,
                    body: {
                        view: 'form',
                        complexData: true,
                        elements: [
                            { view: 'template', template: "Dumping postgres."},
                            { view: 'text', name: 'dumpname', label: "Dumpname" },
                            {
                                cols:[
                                    {
                                        view:"button", value:"OK", css:"webix_primary", click: function() { 
                                            var values = this.getParentView().getFormView().getValues();
                                            webix.ajax().get('/cicd/dump', {
                                                'name': current_details,
                                                'dumpname': values['dumpname'],
                                            }).then(function(data) {
                                                form_backupdb.hide();
                                            })
                                        }
                                    },
                                    { view:"button", value:"Cancel", click: function() {
                                        form_backupdb.hide();
                                    }}
                                ]
                            }
                        ],
                        on: {
                            'onSubmit': function() {
                            },
                        }
                    }
                });
                form_backupdb.show();
            }

            function show_logs() {
                window.open("/cicd/show_logs?name=" + current_details);
            }

            function debug() {
                window.open("/cicd/debug_instance?name=" + current_details);
            }

            function show_mails() {
                window.open("/cicd/start?initial_path=/mailer/&name=" + current_details);
            }

            function start_instance() {
                window.open("/cicd/start?name=" + current_details);
            }

            function build_log() {
                window.open("/cicd/build_log?name=" + current_details);
            }

            function delete_instance() {
                var form_reset = webix.ui({
                    view: "window", 
                    position: 'center',
                    modal: true,
                    head: "Delete Instance",
                    width: 550,
                    body: {
                        view: 'form',
                        complexData: true,
                        elements: [
                            // { view:"combo", name: 'dump', label:"Dump", options: dumps },
                            { view: 'template', template: "Jenkins will erase this instance."},
                            {
                                cols:[
                                    { view:"button", value:"OK", css:"webix_primary", click: function() { 
                                            var values = this.getParentView().getFormView().getValues();
                                            webix.ajax().get('/cicd/trigger/delete', {
                                                'name': current_details,
                                            }).then(function(data) {
                                                form_reset.hide();
                                            })
                                            }
                                    },
                                    { view:"button", value:"Cancel", click: function() {
                                        form_reset.hide();
                                    }}
                                ]
                            }
                        ],
                        on: {
                            'onSubmit': function() {
                            },
                        }
                    }
                });
                form_reset.show();
            }

            function build_again() {
                webix.ajax().get("/cicd/build_again?name=" + current_details).then(function(res) {
                    webix.message("Triggered rebuild in Jenkins", "info");
                });
            }

            function restart() {
                webix.message('Restarting docker containers of' + current_details + '. Reporting immediately when done.');
                webix.ajax().get("/cicd/restart_docker?name=" + current_details).then(function(res) {
                    webix.message("Restarted: " + res.json().containers.join(','), "info");
                });
            }
            function rebuild() {
                show_reset_form(current_details);
            }

            function settings(){
                webix.ajax().get('/cicd/data/sites', {'name': current_details}).then(function(data) {
                    data = data.json();
                    var dumps_promise = webix.ajax().get("/cicd/possible_dumps");
                    dumps_promise.then(function(dumps) {
                        var dumps = dumps.json();
                        var form = webix.ui({
                            view: "window", 
                            position: 'center',
                            modal: true,
                            head: "Settings",
                            width: 550,
                            body: {
                                view: 'form',
                                complexData: true,
                                elements: [
                                    { view: 'text', name: 'title', label: "Title" },
                                    { view: "textarea", name: 'note', label:"Note" },
                                    // { view:"text", name: 'limit_instanes', label:"Limit Instances" },
                                    { view: "combo", name: 'dump', label:"Dump", options: dumps, },
                                    { view: "text", name: 'backup-db', label:"Todo Dump" },
                                    {
                                        cols:[
                                            { view:"button", value:"OK", css:"webix_primary", click: function() { 
                                                var values = this.getParentView().getFormView().getValues();
                                                webix.ajax().post('/cicd/update/site', values).then(function() {
                                                    form.hide();
                                                    reload_table()
                                                });
                                                }
                                            },
                                            { view:"button", value:"Cancel", click: function() {
                                                form.hide();
                                            }}
                                        ]
                                    }
                                ],
                                on: {
                                    'onSubmit': function() {
                                    },
                                }
                            }
                        });
                        form.getChildViews()[1].setValues(data[0]);
                        form.show();
                    });
                });
                return false;
            }

        var current_details = null;
        function reload_details(name) {
            webix.ajax().get('/cicd/data/sites?name=' + name).then(function(data) {
                var template = $$('webix-instance-details');
                template.data = data.json()[0];
                template.refresh();
                template.show();
                $$('site-toolbar').show();
                current_details = name;
            });
        }
        function reload_table() {
            var table = $$("table-sites");
            table.clearAll()
            table.load(table.config.url);
        }
        function show_reset_form(name) {
            var form_reset = webix.ui({
                view: "window", 
                position: 'center',
                modal: true,
                head: "Reset Instance",
                width: 550,
                body: {
                    view: 'form',
                    complexData: true,
                    elements: [
                        // { view:"combo", name: 'dump', label:"Dump", options: dumps },
                        { view: 'template', template: "Jenkins is triggered to rebuild the instance. Will take some time, until instance is up again."},
                        {
                            cols:[
                                { view:"button", value:"OK", css:"webix_primary", click: function() { 
                                        var values = this.getParentView().getFormView().getValues();
                                        webix.ajax().get('/cicd/trigger/rebuild', {
                                            'name': name,
                                        }).then(function(data) {
                                            form_reset.hide();
                                        })
                                        }
                                },
                                { view:"button", value:"Cancel", click: function() {
                                    form_reset.hide();
                                }}
                            ]
                        }
                    ],
                    on: {
                        'onSubmit': function() {
                        },
                    }
                }
            });
            form_reset.show();
        }

        var menu = {
            view: "menu",
            autowidth: true,
            type: {
                subsign: true,
            },
            data: [
                {
                    id: "settings_mainmenu",
                    view: "menu",
                    value: "Admin...",
                    submenu: [
                            { view:"menu", id: "build_submenu", value: "Lifecycle", autowidth: true, data: [
                            { view:"button", id:"restart", value:"Restart Docker Containers", width:100, align:"left", click: restart, },
                            { view:"button", id:"build_again", value:"Repeat last build", align:"left", click: build_again, },
                            { view:"button", id:"rebuild", value:"Rebuild from Dump", align:"left", click: rebuild, },
                            { view:"button", id:"kill", value:"Destroy", width:100, align:"left", click: delete_instance },
                        ]
                        },
                        { view:"button", id:"settings", value:"Settings", width:100, align:"left", click: settings },
                            { view:"button", id:"build_log", value:"Build Log", width:100, align:"left", click: build_log },
                        { $template:"Separator"},
                        { view:"button", id:"dump", value:"Make Database Dump", width:100, align:"left", click: backup_db },
                    ]
                },

            ],
        }
           

        webix.ui({
            type: 'wide',
            cols: [
                {
                    rows: [
                        {
                            view: "template",
                            type: "header",
                            css: "webix_dark",
                            template: "CICD Feature Branches"
                        },
                        {
                            id: 'table-sites',
                            view: "datatable",
                            navigation: true,
                            headerRowHeight: 60,
                            rowHeight: 40,
                            select: 'row',
                            autoConfig: true,
                            url: '/cicd/data/sites',
                            editable: false,
                            data: [],
                            leftSplit: 0,
                            scrollX: false,
                            on: {
                                onSelectChange:function(){
                                    if (!this.getSelectedItem()) {
                                        return;
                                    }
                                    reload_details(this.getSelectedItem().name);
                                },
                                onItemClick: function(id, e, trg) {
                                    //if (id.column === 'start_instance') {
                                    //    var name = this.getSelectedItem().name;
                                    //    start_instance(name);
                                    //}
                                }
                            },
                            columns:[
                                { id: 'name', header: 'Name', minWidth: 120},
                                { id: 'title', header: 'Title', minWidth: 180},
                                { id: 'last_build', header: 'Last Build', minWidth: 80},
                                { id: 'update_in_progress', header: 'Building', template: "{common.checkbox()}", disable: true},
                                { id: 'docker_state', header: 'Docker', },
                                { id: 'updated', header: 'Updated', minWidth: 150,},
                                { id: 'duration', header: 'Duration [s]'},
                                { id: 'delete', header: 'Delete', }
                            ],
                        },
                    ]
                },
                {
                rows: [
                    {
                        view: 'toolbar',
                        css: "webix_dark",
                        id: 'site-toolbar',
                        hidden: true,
                        elements: [
                            menu,
                            {},
                            { view:"button", id:"start", value:"Open UI", width:100, align:"right", click: start_instance },
                            { view:"button", id:"start_mails", value:"Mails", width:100, align:"right", click: show_mails },
                            { view:"button", id:"start_logging", value:"Server Log", width:100, align:"right", click: show_logs },
                            { view:"button", id:"start_debugging", value:"Debug", width:100, align:"right", click: debug },
                        ],
                    },
                    {
                        id: "webix-instance-details",
                        maxWidth: 650,
                        css: "webix_dark",
                        view: "template",
                        type: "body",
                        template: "html->instance-template",
                        hidden: true,
                    },
                ],
                }
            ]
        });

        webix.ui.fullScreen();
    </script>
    </body>
</html>
