<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="https://w2ui.com/src/w2ui-1.5.rc1.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>

    
    </head>

    <body>
        <div style="display: none;">
            <div id="list-item-branch">
                <div>
                    <b>#git_branch#</b>
                    <br/>
                    #note#
                    <div><b>Author:</b>#initiator#</div>
                    <div style='display: flex;'>
                        <div style="flex-basis: 50%;" class="show-settings"><span class="webix_icon wxi-dots"></span></div>
                        <div style="flex-basis: 50%;" class="reset"><span class="webix_icon wxi-sync"></div>
                    </div>
                </div>
            </div>
            <div id="branch-details">
                <div>
                    <table>
                        <tr>
                            <th>Title:</th>
                            <td>#title#</td>
                        </tr>
                        <tr>
                            <th>Dump:</th>
                            <td>#dump#</td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>#desc#</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script>

        function reload_sites() {
            var branch = $$("list-branches").getSelectedItem().git_branch;
            var table = $$("table-sites");
            table.clearAll();
            table.load("/cicd/data/instances?git_branch=" + branch);

            webix.ajax().get('/cicd/data/branches?git_branch=' + branch).then(function(data) {
                var template = $$('webix-branch-details');
                template.data = data.json()[0];
                template.refresh();
            });
        }
        var dumps_promise = webix.ajax().get("/cicd/possible_dumps");
        dumps_promise.then(function(dumps) {
            var dumps = dumps.json();

            function show_reset_form(branch) {
                var form_reset = webix.ui({
                    view: "window", 
                    position: 'center',
                    modal: true,
                    head: "Reset Instance",
                    width: 550,
                    body: {
                        view: 'form',
                        complexData: true,
                        elements: [
                            // { view:"combo", name: 'dump', label:"Dump", options: dumps },
                            { view: 'template', template: "Jenkins is triggered to rebuild the instance. Will take some time, until instance is up again."},
                            {
                                cols:[
                                    { view:"button", value:"OK", css:"webix_primary", click: function() { 
                                            var values = this.getParentView().getFormView().getValues();
                                            webix.ajax().get('/cicd/trigger/rebuild', {
                                                'branch': branch,
                                            }).then(function(data) {
                                                form_reset.hide();
                                            })
                                            }
                                    },
                                    { view:"button", value:"Cancel", click: function() {
                                        form_reset.hide();
                                    }}
                                ]
                            }
                        ],
                        on: {
                            'onSubmit': function() {
                            },
                        }
                    }
                });
                form_reset.show();
            }

            webix.ui({
                type: 'wide',
                cols: [
                    {
                        rows: [
                            {
                                view: "template",
                                type: "header",
                                template: "CICD Feature Branches"
                            },
                            {
                                id: 'list-branches',
                                url: '/cicd/data/branches',
                                view: "list",
                                type: {
                                    height: 120,
                                    width: 450,
                                },
                                template: "html->list-item-branch",
                                select: true,
                                on: {
                                    onSelectChange: function () {
                                        reload_sites();
                                    }
                                },
                                onClick:
                                {
                                    "reset": function() {
                                        var branch = this.getSelectedItem().git_branch;
                                        if (!branch) { alert("Please select a branch!") };
                                        show_reset_form(branch);
                                    },
                                    "show-settings": function(ev, id){
                                        webix.ajax().get('/cicd/data/branches', {'_id': this.getSelectedItem()}).then(function(data) {
                                            data = data.json();
                                            var form = webix.ui({
                                                view: "window", 
                                                position: 'center',
                                                modal: true,
                                                head: "Settings",
                                                width: 550,
                                                body: {
                                                    view: 'form',
                                                    complexData: true,
                                                    elements: [
                                                        { view:"textarea", name: 'note', label:"Note" },
                                                        // { view:"text", name: 'limit_instanes', label:"Limit Instances" },
                                                        { view:"combo", name: 'dump', label:"Dump", options: dumps, },
                                                        {
                                                            cols:[
                                                                { view:"button", value:"OK", css:"webix_primary", click: function() { 
                                                                    var values = this.getParentView().getFormView().getValues();
                                                                    webix.ajax().post('/cicd/update/branch', values).then(function() {
                                                                        form.hide();
                                                                        // TODO optimize
                                                                        window.location.reload()
                                                                        //var list = $$('list-branches');
                                                                        //list.load(list.url);
                                                                    });
                                                                    }
                                                                },
                                                                { view:"button", value:"Cancel", click: function() {
                                                                    form.hide();
                                                                }}
                                                            ]
                                                        }
                                                    ],
                                                    on: {
                                                        'onSubmit': function() {
                                                        },
                                                    }
                                                }
                                            });
                                            form.getChildViews()[1].setValues(data[0]);
                                            form.show();
                                        });
                                        return false;
                                    }
                                },
                            }
                        ]
                    },
                    {
                        view: 'scrollview',
                        body: {
                            padding: 10,
                            type: 'clean',
                            rows: [
                                {
                                    rows: [
                                        {
                                            id: "webix-branch-details",
                                            view: "template",
                                            type: "header",
                                            template: "html->branch-details",
                                            height: 200,
                                        },
                                        {
                                            id: 'table-sites',
                                            view: "datatable",
                                            select: true,
                                            //autoConfig: true,
                                            editable: true,
                                            data: [],
                                            leftSplit: 2,
                                            autowidth: true,
                                            autoheight: true,
                                            on: {
                                                onAfterEditStop: function(state, editor, ignoreUpdate) {
                                                    var data = {};
                                                    data['_id'] = $$("table-branches").getSelectedItem()._id;
                                                    data[editor.column] = state.value;
                                                    webix.ajax().post('/cicd/update/site', data);
                                                },
                                                onItemClick: function(id, e, trg) {
                                                    if (id.column === 'start_instance') {
                                                        var name = this.getSelectedItem().name;
                                                        window.location = "/cicd/start?name=" + name;
                                                    }
                                                    else if (id.column === 'restart_docker') {
                                                        var name = this.getSelectedItem().name;
                                                        webix.message('Restarting ' + name + '. Reporting immediately when done.');
                                                        webix.ajax().get("/cicd/restart_docker?name=" + name).then(function(res) {
                                                            webix.message("Restarted: " + res.json().containers.join(','), "info");
                                                        });
                                                    }
                                                }
                                            },
                                            columns:[
                                                { id: 'start_instance', header: '', width: 100, template: "<span class='webix_icon wxi-folder-open'></span>"},
                                                // { id: 'run_console', header: '', width: 150, template: "<a href='/'>Console</a>"},
                                                { id: 'name', header: 'Name', width: 150},
                                                { id: 'key', header: 'Type', width: 100},
                                                { id: 'update_in_progress', header: 'Building', width: 100, template: "{common.checkbox()}"},
                                                { id: 'restart_docker', header: 'Restart Docker', width: 100, template: "<span class='webix_icon wxi-sync'></span>"},
                                                { id: 'updated', header: 'Updated', width: 150},
                                                { id: 'duration', header: 'Duration [s]', width: 100},
                                                { id: 'desc', header: 'Description', width: 300, fillspace: true},
                                                { id: 'author', header: 'Author', width: 100},
                                                { id: 'dump_name', header: 'Dump Name', width: 270},
                                                { id: 'dump_date', header: 'Dump Date', width: 270},
                                                { id: 'git_sha', header: 'SHA', width: 150},
                                            ],
                                        },
                                    ]
                                }
                            ]
                        }
                    }
                ]
            });

        });
    </script>
    </body>
</html>
