<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <script type='text/javascript'>
        $(document).ready(function() {
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        });
    </script>
    <style>
        * { margin: 0; padding: 0; }
        body {
            color: #fffa29;
            font-family: monospace;
            background-color: #161c58;
        }
        .build-SUCCESS {
            color: green;
        }
        .build-FAILURE {
            color: red;
        }

    </style>
    <body>
        <h1>Build output of {{name}}</h1>
        <h2 class='build-{{build.get_status()}}'>State: {{build.get_status()}}</h2>
        <h2>Duration: {{build.get_duration().total_seconds()}} seconds</h2>
        <pre>
{{output}}
        </pre>
        <h2 class='build-{{build.get_status()}}'>State: {{build.get_status()}}</h2>
        <h2>Duration: {{build.get_duration().total_seconds()}} seconds</h2>
        <a href="#bottom"></a>
    </body>
</html>
