<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    </head>
    <style>
        
span.webix_icon {
    cursor: pointer;
}
table.data tr th {text-align: left;}
.error {
    color: red;
}
.state-building {
    background-color: rgb(110, 165, 115);
}
tr.state-building > state-building-only {
    background-color: rgb(110, 165, 115);
}


    </style>

    {% block content %}{% endblock %}
  </body>
</html>