{% extends "base.html" %}
{% block content %}
    <body>
        <div style="display: none;">
            <div id="clipboard-icon">
                <img src='/cicd/static/img/clipboard.png' width='16' style="cursor: pointer;"/>
            </div>
            <div id="live_log-icon">
                <a class="state-building-only" href="#">live log</a>
            </div>
            <div id="delete-icon">
                X
            </div>
            <div id="instance-template">
                <div>
                    <table class='data'>
                        <tr>
                            <th style="min-width: 200px;">Name</th>
                            <td>#name#</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>#title#</td>
                        </tr>
                        <tr>
                            <th>Git SHA</th>
                            <td><a href="#repo_url#" target="blank">#sha#</a></td>
                        </tr>
                        <tr>
                            <th>Last Updated</th>
                            <td>#updated#  (#duration# seconds)</td>
                        </tr>
                        <tr>
                            <th>Date registered</th>
                            <td>#date_registered#</td>
                        </tr>
                        <tr>
                            <th>Based on</th>
                            <td>#dump_name# - #dump_date#</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <p><b>Note</b></p>
                    <div>#note#</div>
                </div>
                <div>
                    <p><b>Last Commit</b></p>
                    <div>#git_authored_date#</div>
                    <div>#git_author#: #git_desc#</div>
                </div>
                <div>
                    <p><b>Configuration</b></p>
                    <textarea class="odoo_configuration">#odoo_configuration#</textarea>
                    <textarea class="odoo_configuration">#odoo_configuration#</textarea>

                </div>
            </div>
        </div>

    <script>
        var HEIGHT_RESOURCES = 33 * {{ HEIGHT_RESOURCES + 1 }};
    {% include "static/index.js" %}
    </script>

{% endblock %}