{% extends "base.html" %}
{% block content %}
    <body>
        <div style="display: none;">
            <div id="instance-template">
                <div>
                    <table class='data'>
                        <tr>
                            <th style="min-width: 200px;">Name</th>
                            <td>#name#</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>#title#</td>
                        </tr>
                        <tr>
                            <th>Git SHA</th>
                            <td><a href="#repo_url#" target="blank">#git_sha#</a></td>
                        </tr>
                        <tr>
                            <th>Last Updated</th>
                            <td>#updated#  (#duration# seconds)</td>
                        </tr>
                        <tr>
                            <th>Date registered</th>
                            <td>#date_registered#</td>
                        </tr>
                        <tr>
                            <th>Based on</th>
                            <td>#dump_name# - #dump_date#</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <p><b>Note</b></p>
                    <div>#note#</div>
                </div>
                <div>
                    <p><b>Last Commit</b></p>
                    <div>#last_git_author#: #last_git_desc#</div>
                </div>
            </div>
        </div>

    <script>
    {% include "static/index.js" %}
    </script>

{% endblock %}