<!doctype html>
<html>
    <head>
        <title>CICD - Live log</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css" charset="utf-8">
        <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <style>
        div>span:first-child {
            margin-right: 10px;
            color: grey;
        }

    </style>
    <script type='text/javascript'>
        $(document).ready(function() {

            var autoscroll = true;

            $(document).bind("mousewheel DOMMouseScroll mousedown", function () {
                autoscroll = false;
            });
            $(document).keydown(function (ev) {
                if (ev.keyCode === 13) {
                    autoscroll = true;
                    scroll_down();
                }
            });

            function scroll_down() {
                //$("html, body").animate({ scrollTop: $(document).height() }, 1000);
                if (!autoscroll) {
                    return;
                }
                $('html, body').animate({
                    scrollTop: $("#container>div:last-child").offset().top
                 }, 200);
            }

            var $container = $("#container");
            var update = null;
            update = function (next_line_number) {
                $.get("/cicd/live_log/new_lines?name={{ site }}&next_line_number=" + next_line_number).then(function(res) {
                    if (res.content.length) {
                        res.content.forEach(function(content) {
                            var color = 'black';
                            if (content.indexOf("stdout_____") === 0) {
                                color = 'black';
                            }
                            else if (content.indexOf("stderr_____") === 0) {
                                color = 'red';
                            }
                            var splitted = content.split("_____")
                            var date = splitted[1];
                            content = splitted[2];
                            if (content) {
                                var $div = $("<div>");
                                var $span = $("<span>").text(date).appendTo($div);
                                var $span = $("<span>").text(content).appendTo($div);
                                $div.css('color', color).appendTo($container);
                            }
                        });
                        scroll_down();
                    }
                    var timeout = 2000;
                    if (res.content.length) {
                        timeout = 20;
                    }
                    setTimeout(function() {
                        update(res.next_line_number);
                    }, timeout);
                });
            };
            update(0);

        });
    </script>
    <style>
        * { margin: 0; padding: 0; }
        body {
            font-family: monospace;
        }
        .build-SUCCESS {
            color: green;
        }
        .build-FAILURE {
            color: red;
        }

    </style>
    <body>
        <div id="container">

        </div>
    </body>
</html>
